* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* add root customs */
:root {
  --c-header: #2f281e;
  --c-text: #544837;
  --c-a: #2f281e;
  --c-logo: #173a56;
  --c-button: #ff9900;
  --background-color: #f2f2f2;
  --c-menu: #22343d;
}

/* add style for body */

body {
  background: var(--background-color);
  font-family: "Poppins", sans-serif;
}

.wrapper__list {
  background-color: var(--c-menu);
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 15px;
  height: 60px;
  top: 0;
  z-index: 1;
}

.wrapper__list-a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  width: 100px;
  display: inline-block;
  height: 20px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 60px auto 0 auto;
  padding: 0 145px;
  background-color: white;
}

/* add style for header */

.header {
  align-items: center;
  height: 80px;
  width: 100%;
  padding-top: 20px;
}

.container-logo {
  color: var(--c-logo);
  width: 185px;
  height: 100%;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.container-logo img {
  float: left;
}

.navigations {
  display: block;
  height: 80px;
  float: left;
  margin-left: 20%;
  margin-right: 5%;
}

.navigations-list ul {
  text-align: center;
  list-style: none;
}

/* add important margin for element <li> */
.navigations-list li:last-child {
  margin-right: 0;
}

.navigations-list li {
  display: inline-block;
  margin-right: 30px;
  line-height: 28px;
  padding-top: 5px;
}

.navigations-list a {
  text-decoration: none;
  color: var(--c-a);
  font-size: 14px;
}

.container-button {
  width: 225px;
  height: 50px;
  float: left;
  vertical-align: middle;
}

.button {
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  width: 110px;
  background-color: var(--c-button);
  color: white;
  border: none;
  border-radius: 4px;
}

.button:first-child {
  margin-right: 15px;
  width: 100px;
  color: var(--c-logo);
  background-color: white;
  border: 1px solid #bcd0e5;
}

.design-thinking {
  width: 100%;
}

/* ! Left block */

.design-thinking__container {
  width: 480px;
  height: 315px;
  display: inline-block;
  margin: 80px 0;
  float: left;
}

.design-thinking__button-block {
  font-size: 16px;
  line-height: 24px;
}

.design-thinking__title {
  font-weight: 700;
}
.design-thinking__text {
  padding: 30px 0;
}
.design-thinking_button-form {
  display: inline-block;
}

.design-thinking__button-block__started {
  font-size: 16px;
  font-weight: 700;
  height: 55px;
  width: 175px;
  background-color: var(--c-button);
  color: white;
  border: none;
  border-radius: 4px;
  margin: 15px 30px 15px 0;
}

.design-thinking__button-block__video {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  height: 55px;
  color: var(--c-button);
  border: none;
  background-color: white;
  position: relative;
  left: -5px;

  display: inline-block;
}

.design-thinking__a {
  color: var(--c-button);
  font-weight: 600;
}

.design-thinking__a-watch-triangle {
  border-style: solid;
  border-width: 10px 10px 10px 15px;
  border-radius: 2px;
  border-color: transparent transparent transparent var(--c-button);
  display: inline-block;
  vertical-align: middle;
}

/* ! Right block*/

.design-thinking__img-block {
  display: inline-block;
  width: 560px;
  position: relative;
  left: 60px;
}
.design-thinking__img {
  width: 100%;
}
