* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

:root {
  background: #ffffff;
}
/* Додаємо шрифт Roboto */
body {
  font-family: Roboto;
  font-style: normal;
  align-items: center;
  background: #ffffff;
  font-size: 18px;
}
form {
  display: block;
}

.box {
  position: relative;
  width: 793px;
  height: 507px;
  margin: auto;
  padding: auto;
  background: #3b3f45;
}

.box-header {
  background: #4a4f56;
  text-align: center;
  height: 80px;
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* додаю стилі для h1, p  */

p,
h1 {
  color: #ff8984;
}

.box-header p {
  font-size: 16px;
  line-height: 18px;
}

.box-header h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 5px;
}

/* додаємо розміри і відступи списка покупок */
.box-list {
  display: block;
  width: 535px;
  max-width: 793px;
  text-align: center;
  margin: 20px auto 45px auto;
}

.box-list-item {
  display: block;
  text-align: left;
  height: 45px;
  width: 530px;
  max-height: 100%;
  margin: auto;
  padding-left: 15px;
  padding-top: 10px;
  color: white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.box-list-item input[type="checkbox"] {
  display: none;
}

/* Додаю підсвітку полів */

div.box-list-item:active {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-color: #ff8984;
}
.box-list-item:hover {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-color: #625e77;
}

.box-list input[type="checkbox"]:checked + label {
  color: #9b96ac;
  text-decoration: line-through;
}
.box-list input[type="checkbox"]:checked + label span {
  text-align: middle;
  margin: auto;
}

.box-list input[type="checkbox"]:checked + label::before {
  text-align: center;
  background-image: url(../image/Vector1.png);
}

.box-list-item:nth-child(odd) {
  background: #88839e;
}

.box-list-item:nth-child(even) {
  background: #7a7593;
}

.box-list-item label {
  padding-left: 20px;
  height: 100%;
  display: block;
}

.box-list label::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: white;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.box-list-item span {
  font-size: 11px;
}

.box-button {
  width: 534px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  background-color: #4a4f56;
}

.box-button button[type="submit"] {
  font-size: 18px;
  background-color: #4a4f56;
  color: #ff8984;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: block;
}

.box-button:hover{
transform: scale(1.1);
}
