* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1450px;
  margin: auto;
  padding: auto;
  font-size: 18px;
  color: #070707;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  align-items: center;
}

.nav_links {
  color: #828282;
  text-decoration: none;
  text-align: center;
  padding: 30px;
  text-shadow: 0px 4px 4px #00000040;
}
.nav_links:first-child {
  color: #070707;
}

header {
  width: 100%;
  text-align: center;
  display: block;
}

nav {
  text-align: center;
  border-bottom: 1px solid #828282;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  width: 940px;
  height: 50px;
  display: block;
}

div {
  display: block;
  /* width: 100%; */
  text-align: center;
  /* padding-bottom: 100px; */
}

.denis {
  width: 940px;
  /* border-block: fixed; */
  /* box-align: auto; */
  padding: 20%;
}

.im_image {
  padding: 30px;
  display: block;
  position: absolute;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 100%;
  /* max-width: 100%; */
  /* margin: 0 15px 0 0; */
  /* padding: 100px; */
  /* padding: 100px 0px; */
}

h1 {
  font-weight: bold;
  font-size: 2em;
  /* margin: 0.67em 0; */
  /* text-align: left; */
  padding: 0.67em 0;
  width: 940px;
  text-align: left;
  margin: auto;
}

h2 {
  font-weight: bold;
  font-size: 34px;
  padding: 100px 0 30px 0;
}

div {
  /* border: 0.05px red solid; */
}

.about {
  padding-bottom: 100px;
  background-color: #f6f6f6;
  background-repeat: repeat-x;
  max-width: 100%;
  margin-top: 100px;
}

div.about > div {
  width: 485px;
  height: 245px;
  text-align: center;
  display: inline-block;
  align-items: center;
  /* position: absolute; */
  /* width: 1445px; */
  /* height: 517px; */
  /* left: 0px; */
  /* top: 699px; */
}

div.about > div p {
  line-height: 25px;
  /* color: red; */
  padding: 25px 0;
}

.portfolio {
  background-color: #f6f6f6;
  /* background-size: 100%; */
  padding-bottom: 100px;
}
.portfolio h2 {
  margin: 0px auto 30px auto;
}

div.portfolio img {
  width: 940px;
}
.portfolio a {
  color: #070707;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
}

div.skills div img {
  padding-right: 45px;
  padding-left: 45px;
  paddind-top: 75px;
  padding-bottom: 85px;
}

div.skills p {
  padding-bottom: 80px;
}

._footer p {
  padding-bottom: 60px;
  /* font-family: Open Sans; */
  /* font-style: normal; */
  /* font-weight: normal; */
  /* font-size: 18px; */
  line-height: 25px;
  text-align: center;
}

._footer button {
  width: 180px;
  height: 45px;
  border-radius: 20px;
  margin: 40px;
  background-color: #070707;
  border-color: #070707;
  color: white;

  /* Blend:  Pass through; */
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
}

._footer img {
  margin: 0 30px;
}

._footer {
  padding-bottom: 100px;
}

.footer_p {
  padding-top: 45px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
}
