* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* можна ширину прописати body, не обовязково задавати додатковий блок div.container ?*/
.container {
  max-width: 1920px;
  width: 100%;
  padding: 10px 25px 500px 45px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
}

.header {
  line-height: 24px;
  font-size: 20px;
}
.header__wraper {
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-self: center;
}
.logo {
}
.logo__icon-container {
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
    0px -1px 0 #000, -40px -40px 0px rgba(0, 0, 0, 0);
}
.navigation {
  margin-left: 40px;
}
.navigation__list {
  display: flex;
}

.navigation__item__link {
  text-decoration: none;
  color: #000;
}

.navigation__span {
  margin-left: 5px;
}
.logo-right {
  width: 245px;
  height: 55px;
}
.logo-right__img {
  width: 100%;
  height: 100%;
}

.main-block__title {
  font-weight: 900;
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 1px;
  padding: 70px 0 15px 0;
}

.main-block__title::first-letter {
  vertical-align: super;
  font-size: 18px;
}
.main-block__paragraf {
  letter-spacing: 0;
  font-size: 35px;
  padding: 25px 0;
}

strong {
  font-weight: bold;
}

.main-block__paragraf--border-gray {
  background-color: rgb(211, 209, 209);
}
